
<div class="sidebar-wrapper">
    <div class="logo">
        <a class="simple-text">
            <div class="logo-img">
                <img src="../../assets/img/angular2-logo.png" alt="">
            </div>
            First UI
        </a>
    </div>
    <ul class="nav">
        <li>
            <a routerLink="home">
                <i class="ti-home"></i>
                <p>Home</p>
            </a>
        </li>

        <li>
          <a routerLink="web-component">
              <i class="ti-user"></i>
              <p>Playground</p>
          </a>
        </li>

    </ul>
</div>
